/**
 * Archivo que define la apariencia, estructura y comportamiento para el carrusel de
 * genéros populares de la tienda.
 *
 * @author Aitor Blanco Fernández - abf1005@alu.ubu.es
 * @version 1.0.0 - 29/05/2025.
 */

/* Estilos necesarios para ocultar scrollbar para el carrusel. */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Estilos para representar cada tarjeta dentro del carrusel. */
.genre-card {
    background-color: #374151;
    border-radius: 0.75rem;
    min-width: 220px;
    flex-shrink: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.genre-card:hover {
    transform: scale(1.05);
}

.genre-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.genre-label {
    text-align: center;
    padding: 0.75rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: white;
}

/** Estilos para los botones de navegación para el carrusel. */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #1f1f21;
    color: white;
    padding: 0.5rem;
    border-radius: 9999px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.carousel-button:hover {
    background-color: #3a3a3c;
}
.carousel-button.left {
    left: 0;
}
.carousel-button.right {
    right: 0;
}