<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <!--
        Archivo que define el diseño, estructura y lógica de la página
        de inicio de sesión de la tienda.

        Autor: Aitor Blanco Fernández, abf1005@alu.ubu.es
        Versión: 1.0.0, 02/06/2025
    -->

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CDN para usar los diseños y estilos de TailwindCSS sin necesidad de tenerlo instalado. -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="min-h-screen flex flex-col md:flex-row">

        <!-- Dividimos la página en dos mitades, en la mitad izquierda mostramos un degradado de color morado. -->
        <div class="hidden md:block md:w-1/2 bg-gradient-to-r from-indigo-500 to-purple-600"></div>

        <!-- En su mitad derecha, definimos y mostramos el formulario de inicio de sesión de la tienda. -->
        <div class="w-full md:w-1/2 bg-gray-100 flex items-center justify-center p-6 md:p-8">
            <div class="w-full max-w-md space-y-6">

                <!-- Definimos y mostramos el título y subtítulo de la página. -->
                <div class="text-center">
                    <h2 class="text-2xl font-bold text-indigo-600">Welcome back!</h2>
                    <p class="text-sm text-gray-600">Log in to your account</p>
                </div>

                <!-- Definimos y mostramos el formulario de inicio sesión con sus correspondientes campos. -->
                <form class="space-y-6">
                    <!-- Campo para introducir el email del usuario. -->
                    <div class="relative">
                        <input type="email" id="email" placeholder="" required
                               class="peer w-full border border-gray-300 text-gray-900 rounded-md px-4 pt-6 pb-2
                                       text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"/>
                        <label for="email"
                               class="absolute text-gray-500 text-sm left-4 top-1 transition-all
                                       peer-placeholder-show:top-4.5 peer-placeholder-shown:text-base
                                       peer-placeholder-shown:text-gray-400 peer-focus:top-1
                                       peer-focus:text-sm peer-focus:text-indigo-600">Email</label>
                    </div>

                    <!-- Campo para introducir la contraseña del usuario. -->
                    <div class="relative">
                        <input type="password" id="password" placeholder="" required
                               class="peer w-full border border-gray-300 text-gray-900 rounded-md
                               px-4 pt-6 pb-2 text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500
                               focus:border-indigo-500"/>
                        <label for="password"
                               class="absolute text-gray-500 text-sm left-4 top-1 transition-all
                                       peer-placeholder-shown:top-4.5 peer-placeholder-shown:text-base
                                       peer-placeholder-shown:text-gray-400 peer-focus:top-1
                                       peer-focus:text-sm peer-focus:text-indigo-600">Password</label>
                    </div>

                    <!-- Campos para mantener la sesión activa y recuperar la contraseña. -->
                    <div class="flex justify-between items-center text-sm flex-wrap gap-4 sm:gap-0">
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" class="form-checkbox accent-indigo-500 text-indigo-600" />
                            <span>Remember me</span>
                        </label>
                        <a href="#" class="text-indigo-600 hover:underline">Forgot your password?</a>
                    </div>

                    <!-- Botón para iniciar sesión y enviar los datos al controlador. -->
                    <button type="submit"
                            class="w-full bg-indigo-600 text-white py-2 rounded-md hover:bg-indigo-700
                                    transition text-sm sm:text-base">Log In</button>
                </form>

                <!-- Enlace para registrarse para aquellos usuarios que no tienen cuenta. -->
                <p class="text-center text-sm text-gray-600">
                    Don't have an account?
                    <a th:href="@{/register}" class="text-indigo-600 hover:underline">Sign Up</a>
                </p>

            </div>
        </div>
    </body>
</html>