<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <!--
        Archivo que define el diseño, estructura y lógica de
        el registro de nuevos usuarios dentro de la tienda.

        Autor: Aitor Blanco Fernández, abf1005@alu.ubu.es
        Versión: 1.0.0, 02/06/2025
    -->

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CDN para usar los diseños y estilos de TailwindCSS sin necesidad de tenerlo instalado. -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="min-h-screen flex flex-col md:flex-row">

        <!-- Dividimos la página en dos mitades, en la mitad izquierda mostramos un degradado de color morado. -->
        <div class="hidden md:block md:w-1/2 bg-gradient-to-r from-indigo-500 to-purple-600"></div>

        <!-- En su mitad derecha definimos y mostramos el formulario de registro de nuevos usuarios. -->
        <div class="w-full md:w-1/2 bg-gray-100 flex items-center justify-center p-6 md:p-8">
            <div class="w-full max-w-md space-y-6">

                <!-- Definimos el título y subtítulo de la página. -->
                <div class="text-center">
                    <h2 class="text-2xl font-bold text-indigo-600">Create your account</h2>
                    <p class="text-sm text-gray-600">Join us and start playing today</p>
                </div>

                <!-- Definimos el formulario para permitir el registro de nuevos usuarios. -->
                <form th:action="@{/register}" method="post" th:object="${signUpForm}" class="space-y-6">
                    <!-- Campo para introducir el nombre completo del nuevo usuario. -->
                    <div class="relative">
                        <input type="text" id="name" name="name" th:field="*{name}" required placeholder=""
                               class="peer w-full border border-gray-300 text-gray-900 rounded-md px-4 pt-6 pb-2
                                       text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
                        <label for="name"
                               class="absolute text-gray-500 text-sm left-4 top-1 transition-all
                               peer-placeholder-shown:top-4.5 peer-placeholder-shown:text-base
                               peer-placeholder-shown:text-gray-400 peer-focus:top-1
                               peer-focus:text-sm peer-focus:text-indigo-600">Full Name</label>
                    </div>

                    <!-- Campo para introducir el email/correo del nuevo usuario. -->
                    <div class="relative">
                        <input type="email" id="email" name="email" th:field="*{email}" required placeholder=""
                               class="peer w-full border border-gray-300 text-gray-900 rounded-md px-4 pt-6 pb-2
                                       text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
                        <label for="email"
                               class="absolute text-gray-500 text-sm left-4 top-1 transition-all
                                peer-placeholder-shown:top-4.5 peer-placeholder-shown:text-base
                                peer-placeholder-shown:text-gray-400 peer-focus:top-1
                                peer-focus:text-sm peer-focus:text-indigo-600">Email</label>
                    </div>

                    <!-- Campo para introducir la contraseña para el nuevo usuario. -->
                    <div class="relative">
                        <input type="password" id="password" name="password" th:field="*{password}" required placeholder=""
                               class="peer w-full border border-gray-300 text-gray-900 rounded-md px-4 pt-6 pb-2
                               text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
                        <label for="password"
                        class="absolute text-gray-500 text-sm left-4 top-1 transition-all
                        peer-placeholder-shown:top-4.5 peer-placeholder-shown:text-base
                        peer-placeholder-shown:text-gray-400 peer-focus:top-1
                        peer-focus:text-sm peer-focus:text-indigo-600">Password</label>
                    </div>

                    <!-- Campo para confirmar la contraseña para el nuevo usuario. -->
                    <div class="relative">
                        <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" required placeholder=""
                               class="peer w-full border border-gray-300 text-gray-900 rounded-md px-4 pt-6 pb-2
                                        text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
                        <label for="confirmPassword"
                               class="absolute text-gray-500 text-sm left-4 top-1 transition-all
                               peer-placeholder-shown:top-4.5 peer-placeholder-shown:text-base
                               peer-placeholder-shown:text-gray-400 peer-focus:top-1
                               peer-focus:text-sm peer-focus:text-indigo-600">Confirm Password</label>
                    </div>

                    <!-- Botón para el registro y mandar los datos al controlador. -->
                    <button type="submit"
                            class="w-full bg-indigo-600 text-white py-2 rounded-md hover:bg-indigo-700
                           transition text-sm sm:text-base">Sign Up</button>
                </form>

                <!-- Enlace para ir al inicio de sesión, si el usuario ya tiene cuenta. -->
                <p class="text-center text-sm text-gray-600">
                    Already have an account?
                    <a th:href="@{/login}" class="text-indigo-600 hover:underline">Log In</a>
                </p>

            </div>
        </div>
    </body>
</html>